.watchlist-item-container {
  display: flex;
  padding: 10px 3px;
  max-width: 600px;
  justify-content: space-between;
}

.watchlist-item-container:nth-child(3) {
  width: 50px;
  color: aquamarine;
  font-weight: bold;
}

.watchlist-item-name {
  width: 280px;
}

.watchlist-item-price {
  width: 180px;
}
