:root {
  --black: rgb(10, 10, 20);
  --white: #fdfffc;
  --darkBlue: #011627;
  --green: #00b490;
  --green_hover: #01a584;
  --red: #e01664;
  --red_hover: #c50101;
  --purple: #6a85fb;
  --purple_hover: #6077e0;
  --border: #ecedef;
  --bg: #ccf0eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  width: 100vw;

  background-color: var(--bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}
