.login-body {
  height: 100vh;
  /* background: var(--darkBlue); */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -126px;
  display: flex;
}

.reg-log-main-body {
  display: grid;
  justify-content: center;
  grid-row-gap: 1.25em;
}

.log-title {
  color: var(--white);
  padding-bottom: 1rem;
}

.reg-log-ip {
  width: 18rem;
  color: var(--white);
  border: 3px solid grey;
  padding: 8px;
  margin: 3px;
  border-radius: 7px;
  background: var(--bg);
  font-size: 16px;
}
.reg-log-ip:focus {
  outline: none;
  border-image: linear-gradient(to right, rgb(224, 22, 100), rgb(247, 127, 72))
    1;
  /* border-color: var(--black); */
  border-radius: 7px;
  /* transition: all 0.2s; */
}

.reg-log-btn {
  border-radius: 7px;
  border: 0px;
  padding: 8px;
  margin: 3px;
  font-size: 16px;
  background: linear-gradient(to right, rgb(224, 22, 100), rgb(247, 127, 72));
  color: var(--white);
}
.reg-log-btn:hover {
  cursor: pointer;
}

.spn {
  font-size: 14px;
  line-height: 1.25em;
  color: var(--white);
  display: flex;
  justify-self: center;
}
