.header-logo-mid {
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(to right, rgb(224, 22, 100), rgb(247, 127, 72));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-self: center;
  justify-content: center;
}
