/* Header Styling */
.header-container {
  /* background: linear-gradient(to right, rgb(224, 22, 100), rgb(247, 127, 72)); */
  background: var(--darkBlue);
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
.header-logo {
  /* color: var(--white); */
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(to right, rgb(224, 22, 100), rgb(247, 127, 72));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-link {
  color: var(--white);
  margin: 0rem 1rem;
  font-size: 14px;
  border: 2.5px solid #34343d;
  border-radius: 15%;
  padding: 3px 10px;
}

.header-link-selected {
  border: 2.5px solid var(--white) !important;
  background: linear-gradient(
    to right,
    rgb(224, 22, 100),
    rgb(247, 127, 72)
  ) !important;
}

/* Home Styling */
.home-container {
  height: 100vh;
  /* background-color: #1d1d26; */
  background: var(--darkBlue);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-title-wrapper {
  margin-top: -20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-title {
  padding-bottom: 0.8rem;
  color: var(--white);
}
.home-sub-title {
  padding-bottom: 2rem;
  color: var(--white);
}
.home-Link {
  padding: 0.5rem;
  color: var(--white);
  background-color: #a0339a;
  border-radius: 10%;
}
