.nav-bar {
  display: flex;
  align-self: center;
  justify-content: space-around;
  padding: 1rem;
  /* background: var(--darkBlue); */
  border-bottom: 1px solid var(--black_border);
}

.header-logo-mid {
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(to right, rgb(224, 22, 100), rgb(247, 127, 72));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-container {
  margin-top: 7px;
}

.search-input {
  border: none;
  width: 300px;
  text-decoration: none;
  outline: none;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px 5px;
  /* box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.3); */
}

.search-input:focus {
  outline: none;
}

.search-btn {
  background: linear-gradient(to right, rgb(224, 22, 100), rgb(247, 127, 72));
  color: var(--white);
  height: 30px;
  width: 30px;
  border-radius: 0px 5px 5px 0px;
  margin-left: -30px;
  border: none;
  text-decoration: none;
  outline: none;
  font-size: 14px;
  font-weight: bold;
}

.search-btn:hover {
  background: linear-gradient(to right, rgb(206, 20, 91), rgb(216, 111, 63));
}

.logout-btn {
  display: inline-block;
  height: 30px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  padding: 0px 14px;
  margin-top: 7px;
  cursor: pointer;
  position: relative;
  outline: none;
  box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.3);
  background-color: #efebff;
  /* color: white; */
}
.logout-btn:hover {
  background-color: #e0dcee;
}
