.nav-bar {
  display: flex;
  align-self: center;
  justify-content: space-around;
  padding: 1rem;
  background: var(--darkBlue);
}

.header-logo-mid {
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(to right, rgb(224, 22, 100), rgb(247, 127, 72));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logout-btn {
  font-weight: bold;
  margin: 0rem 1rem;
  font-size: 14px;
  border: 2.5px solid #34343d;
  border-radius: 15%;
  padding: 2px 10px;
  cursor: pointer;
}
