.login-body {
  background: var(--darkBlue);
  padding-bottom: 30rem;
}

#pink-circle {
  height: 120px;
  width: 120px;
  border-radius: 60px;
  background: linear-gradient(
    to top right,
    rgb(224, 22, 100),
    rgb(247, 127, 72)
  );
  position: absolute;
  top: 38rem;
  left: 15%;
}

#black-circle {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  border: 1px var(--black);
  background: linear-gradient(
    to top right,
    rgb(0, 0, 0),
    rgb(10, 10, 10),
    rgb(59, 50, 53)
  );
  margin-left: 65%;
  margin-top: 3em;
  margin-bottom: 3rem;
}

.main-body {
  display: grid;
  justify-content: center;
  grid-row-gap: 1.25em;
}

.log-title {
  color: var(--white);
  padding-bottom: 1rem;
}

.reg-log-ip {
  width: 18rem;
  color: var(--white);
  border: 3px solid grey;
  padding: 8px;
  margin: 3px;
  border-radius: 7px;
  background: var(--darkBlue);
  font-size: 16px;
}
.reg-log-ip:focus {
  outline: none;
  border-image: linear-gradient(to right, rgb(224, 22, 100), rgb(247, 127, 72))
    1;
  border-radius: 7px;
  transition: all 1s;
}

.reg-log-btn {
  border-radius: 7px;
  border: 0px;
  padding: 8px;
  margin: 3px;
  font-size: 16px;
  background: linear-gradient(to right, rgb(224, 22, 100), rgb(247, 127, 72));
  color: var(--white);
}
.reg-log-btn:hover {
  cursor: pointer;
}

.spn {
  font-size: 14px;
  line-height: 1.25em;
  color: var(--white);
  display: flex;
  justify-self: center;
}
